.RangeSlider {
  -webkit-appearance: none;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-radius: 20px;
  background: #e7e9f2;
  box-shadow: inset 5px 5px 10px #dbdde6, inset -5px -5px 10px #f3f5fe;
  justify-content: space-between;
  outline: none;
}
.RangeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: none;
  background: #3f4042;
  box-shadow: 20px 20px 60px #c5cbcf, -20px -20px 60px #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.RangeSlider::-moz-range-thumb {
  border-radius: 50%;
  height: 20px;
  width: 20px;
  border: none;
  background: #3f4042;
  box-shadow: 20px 20px 60px #c5cbcf, -20px -20px 60px #ffffff;
  cursor: pointer;
  transition: all 0.2s;
}

.RangeSlider::-moz-range-thumb:hover,
.RangeSlider::-webkit-slider-thumb:hover {
  transform: scale(1.2);
  background: #53f0ce;
}
