.App {
  display: flex;
  justify-content: center;
  align-self: center;
  padding: 2rem;
  margin: 50px auto;
  border-radius: 10px;
  background: #e7e9f2;
  box-shadow: 5px 5px 10px #dbdde6, -5px -5px 10px #f3f5fe;
}
img {
  margin: 1rem;
}
.box {
  height: 175px;
  margin: 4rem 0rem 0rem 2rem;
  border-radius: 10px;
  background: #e7e9f2;
  box-shadow: inset 5px 5px 10px #dbdde6, inset -5px -5px 10px #f3f5fe;
}
input.button {
  border: none;
  font-size: 1rem;
  padding: 1rem;
  margin: 2rem 2rem 0 0;
  border-radius: 10px;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  background: #e7e9f2;
  box-shadow: 5px 5px 10px #dbdde6, -5px -5px 10px #f3f5fe;
  transition: color 0.5s;
  cursor: pointer;
}

input.button:active {
  background: #e7e9f2;
  box-shadow: inset 5px 5px 10px #dbdde6, inset -5px -5px 10px #f3f5fe;
  color: #53c7f0;
}
button:hover {
  color: #53c7f0;
}
